exclude docs
recursive-exclude docs *
exclude tests
recursive-exclude tests *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini
exclude codecov.yml

include LICENSE
include CHANGELOG.md
include README.md
include myst_nb/_static/mystnb.css
